# built binaries
cmd/marker
cmd/plugin
cmd/mirror-consumer
cmd/mirror-producer

# Temporary build files
build/_output

# used in build
.version

# local cluster
.kube/

# testing
_out

# temp files
cluster/multus-daemonset.yml

# makefile GOPATH
.gopath/
