# built binaries
cmd/marker/marker
cmd/plugin/plugin
cmd/consumer/consumer
cmd/producer/producer

# Temporary build files
build/_output

# used in build
cmd/marker/.version
cmd/plugin/.version
cmd/consumer/.version
cmd/producer/.version

# local cluster
_kubevirtci/

# testing
_out

# temp files
cluster/multus-daemonset.yml
