language: go
sudo: required
dist: trusty
go: "1.10"

services:
- docker

env:
- BUILDER_NAME="ovs-cni/${TRAVIS_JOB_ID}builder"

install: true
script:
  - cd ../..
  - mv kubevirt ../kubevirt.io
  - cd ../kubevirt.io/ovs-cni
  - make docker-test

deploy:
- provider: script
  script: docker login -u="$DOCKER_USER" -p="$DOCKER_PASS" quay.io && make docker-build docker-push
  skip_cleanup: true
  on:
    branch: master
- provider: script
  script: docker login -u="$DOCKER_USER" -p="$DOCKER_PASS" quay.io && make docker-build docker-push IMAGE_TAG=$TRAVIS_TAG
  skip_cleanup: true
  on:
    tags: true
