name: Check HashiCorp Modules
on: [push, pull_request]
jobs:
  check_modules:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Run script
      run: ./hack/check_hashicorp.sh
